<!DOCTYPE html>
<html lang="zh-Hans-CN">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>宾果游戏生成器</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<div class="app">
		<header>
			<h1>宾果游戏生成器</h1>
			<p>连成线你就是赢家</p>
		</header>
		<div class="config-box">
			<div class="input-label">
				<h4 class="label-name">格子数</h4>
				<ui-tabs v-model.number="config.rows" :options="colsOptions"></ui-tabs>
			</div>
		</div>
		<div class="main-box">
			<div class="canvas-box" ref="canvas-box"></div>
			<!-- <div class="config-box">
				<table>
					<tr v-for="Y,y in config.rows">
						<td v-for="X,x in config.cols">
							<div v-if="isImageEl(config.Texts[`${x}-${y}`])">
								<b>[图片]</b>
								<br>
								<a @click="config.Texts[`${x}-${y}`] = ''">删除</a>
							</div>
							<div v-else>
								<input type="text" v-model.trim="config.Texts[`${x}-${y}`]" placeholder="输入文字">
								<a @click="chooseItemImage(x,y)">传图</a>
							</div>
						</td>
					</tr>
				</table>
			</div> -->
		</div>
		
		<div class="main-after-box">
			<p class="tip-box">拖放图片或点击方格设置宾果</p>
		</div>
		<div class="config-box">
			<div class="input-label">
				<h4 class="label-name">宾果游戏标题</h4>
				<input type="text" class="ui-input" v-model.trim="config.title" :placeholder="defaultTitle">
			</div>

			<div class="input-label">
				<h4 class="label-name">游戏规则</h4>
				<input type="text" class="ui-input" v-model.trim="config.sub" :placeholder="defaultSub">
			</div>
			
			<div class="input-label">
				<h4 class="label-name">图片裁切方案</h4>
				<ui-tabs v-model="config.fit" :options="fitOptions"></ui-tabs>
			</div>
		</div>
		
		<div class="after-config-box">
			<button class="ui-btn current" @click="saveImage()">导出宾果游戏</button>
		</div>
		
		<div class="ui-shadow" v-if="output">
			<div class="output-box">
				<img :src="output" alt="宾果游戏">
				<p class="tip-box" data-device="mobile">长按图片另存相册</p>
				<p class="tip-box" data-device="pc">右键图片另存本地</p>
				<div class="ctrl-box">
					<a class="ui-btn current" :href="output" :download="outputFileName">下载宾果游戏</a>
					<a class="ui-btn" @click="output = null">确认</a>
				</div>
			</div>
		</div>
		<!-- <pre>{{JSON.stringify(config,0,2)}}</pre> -->
		<div class="ui-shadow" v-if="currentId" @click.self="closeCurrentPop()">
			<!-- <div class="ui-shadow-main"> -->
				<div class="current-config-box">
					<form class="ui-input-box" @submit.prevent="closeCurrentPop()">
						<input type="text" class="ui-input big line current-text-input" v-model.trim="config.Texts[currentId]" :placeholder="isImageEl(config.Images[currentId])?`输入图片描述`:`输入文字`">
						<!-- <a class="clear-input-value" @click.prevent.stop="config.Texts[currentId] = null"></a> -->
					</form>
					<div class="ctrl-box">
						<button class="ui-btn current" @click="closeCurrentPop()">确定并关闭</button>
						<button class="ui-btn red-wire" @click="config.Images[currentId] = ''"  v-if="isImageEl(config.Images[currentId])">删除图片</button>
						<button class="ui-btn" @click="chooseItemImage(currentId)" v-else>上传图片</button>
					</div>
				</div>
			<!-- </div> -->
		</div>
		<footer>
			<a href="https://lab.magiconch.com/" target="_blank">神奇海螺试验场</a>
			<a href="https://weibo.com/reiove" target="_blank">@卜卜口</a>
			<a href="https://github.com/itorr/bingo" target="_blank">GitHub</a>
		</footer>
	</div>
	<script src="vue.2.6.11.min.js"></script>
	<script src="ui-tabs.vue.js"></script>
	<script src="bingo.js"></script>
</body>
</html>